<!DOCTYPE html class="h-full">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <h2 class="font-bold mb-2" v-show="inProgressAssignments.length">In Progress</h2>
        <ul>
            <li v-for="task in inProgressAssignments" :key="task.id">
                <label>
                    {{ task.name}}
                    <input type="checkbox" v-model="task.complete">
                </label>
            </li>
        </ul>
        <div v-show="completedAssignments.length">
            <h2 class="font-bold mb-2 mt-4">Done</h2>
            <ul>
                <li v-for="task in completedAssignments" :key="task.id">
                    <label>
                        {{ task.name}}
                        <input type="checkbox" v-model="task.complete">
                    </label>
                </li>
            </ul>
        </div>
        <!-- <h1> {{ greeting }}</h1>
        <h2>{{ greeting.length }}</h2> -->

        <!-- <p>
            Bind value of input and updates value while typing. Reactivity.
            <br />
            <input type="text" v-model="greeting">
        </p> -->
        <!-- <div>
            <button :class="active ? 'text-red' : 'text-blue' " @click="toggle">
                click me
            </button>
        </div> -->
    </div>

    <script>
        let app = {

            data() {
                return {
                    assignmentsArray: [
                        { name: 'Finish project', complete: false, id: 1 },
                        { name: 'Pay credit card', complete: false, id: 2 },
                        { name: 'Pet food store', complete: false, id: 3 }
                    ]
                }
            },
            computed: {
                inProgressAssignments() {
                    return this.assignmentsArray.filter(a => !a.complete);
                },
                completedAssignments() {
                    return this.assignmentsArray.filter(a => a.complete);
                }
            }
        };
        Vue.createApp(app).mount('#app');
        // Vue.createApp({
        //     data() {
        //         return {
        //             greeting: 'Hello from Vue!',
        //             buttonClasses: 'text-blue',
        //             active: false
        //         };
        //     },
        //     mounted() {
        //         setTimeout(() => {
        //             this.greeting = "I've changed";
        //         }, 2000)
        //     },
        //     methods: {
        //         toggle() {
        //             this.active = !this.active;
        //         }
        //     }
        // }).mount('#app');
    </script>

</body>

</html>